flows.json
[{"id":"41652087.ad72f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b4655ed3.58e7f","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1998ae74.4a247a","type":"ui_group","z":"","name":"Default","tab":"b4655ed3.58e7f","order":1,"disp":true,"width":"6","collapse":false},{"id":"43739141.721718","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8fb3f6bc.11e348","type":"ui_form","z":"41652087.ad72f","name":"","label":"","group":"1998ae74.4a247a","order":0,"width":0,"height":0,"options":[{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Sex","value":"sex","type":"text","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Children","value":"children","type":"number","required":true,"rows":null},{"label":"Smoker","value":"smoker","type":"text","required":true,"rows":null},{"label":"Region","value":"region","type":"text","required":true,"rows":null}],"formValue":{"age":"","sex":"","bmi":"","children":"","smoker":"","region":""},"payload":"","submit":"submit","cancel":"cancel","topic":"Health Insurance Predictor","x":90,"y":220,"wires":[["8199fe1d.a2af5"]]},{"id":"dfda1a05.5ac7d8","type":"inject","z":"41652087.ad72f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["8199fe1d.a2af5"]]},{"id":"8199fe1d.a2af5","type":"function","z":"41652087.ad72f","name":"","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"sex\",msg.payload.sex)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"children\",msg.payload.children)\nglobal.set(\"smoker\",msg.payload.smoker)\nglobal.set(\"region\",msg.payload.region)\nvar apikey = \"Zdpt4bf3WsEZHezHy7VKd-ZpK1TXeUa-FWzq_ylrWYMR\";\nmsg.headers =  {\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\" : \"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["658ee071.75fac"]]},{"id":"658ee071.75fac","type":"http request","z":"41652087.ad72f","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":240,"wires":[["1a8611a1.854566"]]},{"id":"1a8611a1.854566","type":"function","z":"41652087.ad72f","name":"","func":"var age = global.get(\"age\");\nvar sex = global.get(\"sex\");\nvar bmi = global.get(\"bmi\");\nvar children = global.get(\"children\");\nvar smoker = global.get(\"smoker\");\nvar region = global.get(\"region\");\nvar token = msg.payload.access_token;\nvar instance_id = \"c60547d7-89e2-4749-b507-a91316b8d8b9\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload = {\"input_data\": [{\"fields\": [\"age\", \"sex\", \"bmi\", \"children\", \"smoker\", \"region\"], \"values\": [[age,sex,bmi,children,smoker,region]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":160,"wires":[["eed6b069.08ae88"]]},{"id":"eed6b069.08ae88","type":"http request","z":"41652087.ad72f","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/bd2aa0ae-4963-4dc6-915a-092e0e7aeaf0/predictions","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":260,"wires":[["adabfa65.8ce278","244077f2.8b04e8"]]},{"id":"244077f2.8b04e8","type":"debug","z":"41652087.ad72f","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":180,"wires":[]},{"id":"adabfa65.8ce278","type":"function","z":"41652087.ad72f","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":80,"wires":[["b83bd964.fed068","244077f2.8b04e8"]]},{"id":"b83bd964.fed068","type":"ui_text","z":"41652087.ad72f","group":"1998ae74.4a247a","order":1,"width":0,"height":0,"name":"","label":"Cost","format":"{{msg.payload}}","layout":"row-left","x":830,"y":360,"wires":[]}]